/vendor/
**/bin/
**/obj/
**/node_modules/
**/.vs
**/.idea
**/.ionide
.pulumi
Pulumi.*.yaml
yarn.lock
ci-scripts
/nuget/
provider/**/schema-embed.json
examples/dotnet/**
examples/nodejs/** */
examples/go/** */
examples/python/** */
examples/** */
*.pyc

newenv/** */
examples/python/newenv/**
.secrets
sdk/python/build/lib/runpodinfra/config/__init__.pyi
sdk/python/build/lib/runpodinfra/config/__init__.pyi
plmi/*